*{
    padding: 0;
    margin: 0;
}
.leaf{
    height: 642px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    height: 202px;
    width: 219px;
    border-bottom-right-radius: 130px;
    border-top-left-radius: 124px;
    background-color: rgb(243, 172, 60);
    box-shadow: inset 58px 0px rgb(153, 130, 53),-58px 0px rgb(26, 67, 65);
}